<!-- item-list.component.html -->
<div class="container mt-4">
  <h2>Available Items</h2>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let item of state.availableItems()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>Price: ${{ item.price }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="py-4"
          >Id: {{ item.id }}, Category: {{ item.category }} , new:
          {{ item.isNew }}</mat-card-content
        >
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            (click)="purchaseItem(item)"
          >
            Purchase
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
