<app-spinner></app-spinner>
<app-header (toggleSidenav)="sidenav.toggle()"></app-header>
<mat-sidenav-container class="outer-wrapper">
  <mat-sidenav position="end" #sidenav mode="over">
    <mat-list-item>
      <button
        mat-raised-button
        color="accent"
        aria-label="Example icon-button with logout icon"
        style="width: 100%"
        (click)="callRedirectToHome()"
      >
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </mat-list-item>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="inner-wrapper">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
